/* Styles to import first in order to replicate key styles on the new lsc.gov. Some may become redundant once uploaded. */

// google fonts imports
// Lato for h6 and paragraphs
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
// Overclock for h1 - h5, quotes
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap');

// brand colors
$alice-blue: #daeefd; // Sometimes background color
$alto: #ddd;
$anakiwa: #95ceff; // Background color; image overlay
$biscay: #163f62; // Heading color
$blue-charcoal: #000c17; // Paragraph text color
$bright-red: #b10000; // Calendar buttons & result alert
$columbia-blue: #acd8fd; // Background accents
$dove-grey: #717171;
$hawkes-blue: #e5f2fc; // Secondary: tab interactive elements
$polar: #f0f7fc; // Buttons & interactive elements
$smalt: #004986; // Interactive elements
$light-alice: #f0f7fc;

// raw colors
$color--white: #fff; // Listing and basic background
$color--gray-white: #eaebec;
$color--gray-lighter: #cacbcc;
$color--gray-light: #aaabac;
$color--gray: #757575;
$color--gray-dark: #2a2b2c;
$color--black: #000;
$color--red: #de0000; // Buttons & lines
$color--purple: #860081; // Utility: visited link on light background
$color--violet: #f28cee; // Utility: visited link on dark background
$color--green: #36af00; // Utility: successful form


// Wrapper for custom content to be added to lsc.gov.
.custom-content-wrapper {
  max-width: 1360px;
  font-family: Lato, serif;
  box-sizing: border-box;
  color: $blue-charcoal;
  padding: 0;
  margin: 0;

  a {
    color: $smalt;
    text-decoration: underline;
    transition: color 0.15s ease-out, text-decoration 0.15s ease-out, -webkit-text-decoration 0.15s ease-out;
    background-color: transparent;
    cursor: pointer;
  }

  a:hover, a:focus, a:active {
    color: $smalt;
    text-decoration: none;
  }

  p  {
    line-height: 2rem;
    font-size: 1.25rem;
  }

  // BUTTONS (from .paragraph--thin-cta .paragraph--content .field--name-field-call-to-action)
  // <a href="" class="lsc-gov-btn"><div class="lsc-gov-btn-content"><img src="https://d29f85wyq8xezh.cloudfront.net/lsc-website/assets/icons/download.svg" class="btn-download-img"/>Download</div></a>
  a.lsc-gov-btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    font-family: "Lato", sans-serif !important;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 0.625rem 2rem 0.5rem 0.5rem;
    -webkit-clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none !important;
    transition: 0.2s ease-out;
    background-color: #de0000;
    color: #fff;
    min-height: 1.25rem;
    min-width: 7rem;
    line-height: 1.5;
    margin: 0 !important;
    vertical-align: middle;

    &:hover {
      background-color: $bright-red;
      text-decoration: none;
    }
    
    &:focus {
      background-color: $bright-red;
      outline: none;
      text-decoration: none;
      clip-path: polygon(-0.3125rem -0.3125rem, calc(100% - 1rem) -0.3125rem, calc(100% + 0.3125rem) 50%, calc(100% + 0.3125rem) 50%, calc(100% - 1rem) calc(100% + 0.3125rem), -0.3125rem calc(100% + 0.3125rem));
      box-shadow: 0 0 0 5px $bright-red;
    }

    &:active {
      text-decoration: none;
      box-shadow: 0 0 0 5px $smalt;
      background-color: $smalt;
    }
    
    &[disabled] {
      cursor: default;
      background-color: $color--gray-white;
      color: #ddd;      
    }

    &[disabled]:hover, &[disabled]:focus, &[disabled]:active {
      background-color: $color--gray-white;
      color: #ddd;       
    }

    &[disabled]:focus {
      box-shadow: 0 0 0 5px #eaebec;
    }
  
    .lsc-gov-btn-content {
      display: flex;
      align-content: center;
      user-select: none;
  
      .btn-download-img {
        overflow-y: hidden;
        display: inline-block;
        padding: 0 0.5rem 0 0.25rem;
        height: 25px;
        width: 25px;
      }
    }
  }
  
  // SELECT
  .lsc-gov-form-select {
    appearance: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // width: 100%; //SET THE HEIGHT, WIDTH, AND FONT SIZE FOR THE SITUATION
    // max-width: 100%;
    // height: 2.75em;
    // font-size: 1em;
    margin: 0;
    padding: 0.25em 2.5em 0.25em 0.75em;
    border: 2px solid $smalt;
    border-radius: 6px;
    box-shadow: none;
    line-height: 1;
    transition: 0.2s ease-out;
    background-image: url(https://d29f85wyq8xezh.cloudfront.net/lsc-website/assets/icons/caret-down-blue.svg);
    background-repeat: no-repeat;
    background-position: right 0.75em top 50%;
    background-size: 1.25em;
    background-color: #daeefd;
    color: #000c17;
  
    option {
      font-weight: 400;
      background-color: white;
      color: #000c17;
    }
  }
  
  .lsc-gov-form-select:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .lsc-gov-form-select:focus, .lsc-gov-form-select:active {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px $smalt;
    box-shadow: 0 0 0 2px white, 0 0 0 4px $smalt;
  }
  
  .lsc-gov-form-select[disabled] {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #eaebec !important;
    background-image: url("https://d29f85wyq8xezh.cloudfront.net/lsc-website/assets/icons/caret-down--gray.svg") !important;
  }








}
