@import 'lsc_gov_base';

$nav-primary-color:#313030;
$red-highlight: #d23a30;
$red-highlight-darkened: #8b201d;
$callout-color: #a7221d;

// body.using-mouse :focus {
//   outline: none;
// }

#page-intro {
	margin-bottom: 0.5rem;
}
.page-intro-callout {
	max-width: 9.5rem;
	min-width: 9.5rem;
	padding: 0.5rem 0.5rem 0.75rem 0.5rem;
	margin: 0 0 1rem 1rem;
	border: 1px solid $red-highlight;
	border-radius: 0.5rem;
	text-align: center;
	float:right;
}
.page-intro-callout span {
	font-weight: bold;
	color: $callout-color;
	padding-bottom: 0.5rem;
	display: inline-block;
}
.table-instructions {
	// clear: both;
	// background-color: #f6f6f6;
	// margin: 0;
	// padding: 1rem 1rem 0 1rem;
	// font-size: 0.95rem;
	font-family: Lato, sans-serif;
}
.table-instruction-emphasis {
	font-weight: bold;
}
#select-menu-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	// background-color: #f6f6f6;
	padding: 1rem;
	margin-bottom: 1rem;
}
.table-select-menu {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}
.table-select-title {
	display: inline-block;
	font-weight: bold;
	color: $biscay;
  margin-bottom: 0.5em;
	font-size: 0.95rem;
	font-family: Lato, sans-serif;
}
.table-select-menu select {
	font-size: 0.95rem;
	padding: 0.0125rem;
	height: auto;
	font-family: Lato, sans-serif;
}
#grantee-select-menu {
	min-width: 20rem;
	max-width: 20rem;
}
#year-select-menu {
	min-width: 11rem;
	max-width: 11rem;
}
#sa-type-select-menu {
	min-width: 14rem;
	max-width: 14rem;
}
td.col-allocation-highlight {
	background-color: $alice-blue; //#f3e4a1;
}
h2#funding-change-explanations-title {
	font-weight: bold;
	font-size: 1.125rem;
	color: $red-highlight;
	margin-top: 1.5rem;

	span {
		font-weight: normal;
	}
}
.table-footnote {
	// padding: 1rem;
}
#funding-change-explanations-subtitle {
	// font-size: 0.95rem;
}
#funding-change-buttons {
  display: flex;
  justify-content: center;
	// margin: 1.5rem auto;
}
.funding-change-button {
	background-color: #fff;
	border: 2px solid #eee;
  border-radius: 6px;
  color: $blue-charcoal;
	display: inline-block;
	margin-right: 0.5rem;
	transition: all .1s ease-in;
	padding: 0.25rem 1rem;
	cursor: pointer;
}
.funding-change-letter {
	font-size: 1.5rem;
	color: $blue-charcoal;
	text-align:center;
}
.funding-change-button:not(.funding-change-button-selected):hover {
  background-color: #fff;
}
.funding-change-button-selected {
	background-color: $alice-blue;
}
.funding-change-button:hover, .funding-change-button-selected {
	border-color: $smalt;
}
#funding-change-explanation {
	border-left: 4px solid $color--red;
	padding-left: 2rem;
  margin: 2rem 1rem;
	font-size: 1rem;
  line-height: 1.75;
	visibility: hidden;
}


//------------------------------
//        LOADING SYMBOL  
//------------------------------

//https://projects.lukehaas.me/css-loaders/
// The MIT License (MIT)

// Copyright (c) 2014 Luke Haas

// Permission is hereby granted, free of charge, to any person obtaining a copy of
// this software and associated documentation files (the "Software"), to deal in
// the Software without restriction, including without limitation the rights to
// use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
// the Software, and to permit persons to whom the Software is furnished to do so,
// subject to the following conditions:

// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
// FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
// COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
// IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background: #808080;
  background: -moz-linear-gradient(left, #808080 10%, rgba(128,128,128, 0) 42%);
  background: -webkit-linear-gradient(left, #808080 10%, rgba(128,128,128, 0) 42%);
  background: -o-linear-gradient(left, #808080 10%, rgba(128,128,128, 0) 42%);
  background: -ms-linear-gradient(left, #808080 10%, rgba(128,128,128, 0) 42%);
  background: linear-gradient(to right, #808080 10%, rgba(128,128,128, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
	transform: translateZ(0);
	overflow: hidden;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #808080;
  border-radius: 100% 0 0 0;
  position: absolute; 
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


